.chapter-2-landing-page {
  background: url(../chapter-2-landing.png) no-repeat center center fixed !important;
}

.chapter-2-hero-text {
  h1 {
    // font-weight: 400;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.1px !important;
    -webkit-text-stroke-color: #000000 !important;
  }

  h3 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}

.faq-chapter-2 {
  border: 2px solid #7e5959;
}

#chapter-2-first-point {
  // background: #000;
  position: absolute;
  z-index: 2;
  // width: 430px;
  height: 100px;
  width: 12% !important;
  top: 1%;
  right: 45%;
}

#chapter-2-second-point {
  // background: #000;
  position: absolute;
  z-index: 2;
  // width: 430px;
  height: 100px;
  width: 12% !important;
  left: 34%;
  top: 40%;
}

.rebellion {
  opacity: 0%;
  transition-duration: 0.25s;
  position: absolute;
  z-index: 2;
  // width: 430px;
  width: 12% !important;
  top: 1%;
  right: 45%;
}

.protest {
  // visibility: hidden;
  opacity: 0%;
  position: absolute;
  z-index: 2;
  width: 12% !important;
  left: 34%;
  top: 37%;
  transition-duration: 0.25s;
  // transition-property: visible;
}
