.chapter-2-landing-page {
  background: url(../chapter-2-landing.png) no-repeat center center fixed !important;
  background-size: cover !important;
}

.chapter-2-hero-text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: flex-end;
  // background-color: lawngreen;
  h1 {
    font-size: 5.5rem;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    // background-color: aquamarine;
    margin: 0;
  }

  h3 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    // background-color: lightgray;
    position: relative;
    // left: 30px;
  }

  h3:first-of-type {
    align-items: flex-start;
    width: 100%;
    right: 40px;
    top: 15%;
  }
  h3:nth-of-type(2) {
    left: 30px;
    bottom: 15%;
  }

  h1 {
    font-weight: 400;
    color: #ffffff !important;
    // -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    // -webkit-text-stroke-width: 2px !important;
    // -webkit-text-stroke-color: #000000 !important;
    text-shadow: -5px 0px 0px rgba(0, 0, 0, 0.5);
  }

  h3 {
    color: white;
    // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    //   1px 1px 0 #000;

    // text-shadow: -1px 0px 2px rgba(0, 0, 0, 1);
    text-shadow: -3px 0px 0px rgba(0, 0, 0, 0.5);

    // font-weight: 600;
    // -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    // -webkit-text-stroke-width: 2px !important;
    // -webkit-text-stroke-color: #000000 !important;
  }
}

.faq-chapter-2 {
  border: 2px solid #7e5959;
}

#chapter-2-first-point {
  // background: #000;
  position: absolute;
  z-index: 2;
  // width: 430px;
  height: 50px;
  width: 4% !important;
  top: 1.7%;
  right: 49%;
}

#chapter-2-second-point {
  // background: #000;
  position: absolute;
  z-index: 2;
  // width: 430px;
  height: 60px;
  width: 4% !important;
  left: 36.5%;
  top: 41%;
}

#chapter-2-third-point {
  // background: #000;
  position: absolute;
  z-index: 2;
  // width: 430px;
  height: 50px;
  width: 4% !important;
  left: 22%;
  top: 88.5%;
}

.rebellion {
  opacity: 0%;
  transition-duration: 0.25s;
  position: absolute;
  z-index: 2;
  // width: 430px;
  width: 17% !important;
  left: 15%;
  top: 81%;
  box-shadow: rgba(12, 12, 23, 0.447) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.protest {
  // visibility: hidden;
  opacity: 0%;
  transition-duration: 0.25s;
  position: absolute;
  z-index: 2;
  // width: 430px;
  width: 17% !important;
  top: 1.5%;
  right: 37%;
  // transition-property: visible;
  box-shadow: rgba(12, 12, 23, 0.447) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.chapter-2-mint-btn:hover {
  text-decoration: line-through !important;
}

@media screen and(max-width : 600px) {
  .chapter-2-hero-text {
    h3 {
      transform: scale(0.8);
    }
    h1 {
      transform: scale(0.6);
    }
  }
  h3:first-of-type {
    // background-color: lawngreen;
    align-items: flex-start;
    width: 100%;
    // right: 0px !important;
    right: 0 !important;
    top: 15% !important;
    left: 10%;
  }

  h3:nth-of-type(2) {
    width: 100%;
    // background-color: lightblue;
    left: 40% !important;
    // top: 10% !important;
    // left: 50%;
  }
}

@media screen and (orientation: landscape) and (max-device-height: 576px) {
  .chapter-2-hero-text {
    h3 {
      transform: scale(0.8);
    }
    h1 {
      transform: scale(0.6);
    }
  }
  h3:first-of-type {
    // background-color: lawngreen;
    align-items: flex-start;
    width: 100%;
    // right: 0px !important;
    right: 0 !important;
    // top: 0% !important;/
    left: 10%;
  }

  h3:nth-of-type(2) {
    width: 100%;
    // background-color: lightblue;
    left: 45% !important;
    // top: 10% !important;
    // left: 50%;
  }
}
