.full-screen {
  background: url(../images/overlay-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.chapter-tables {
  //   background-color: lawngreen;
  position: absolute;
  //   top: 0;
  display: flex;
  //   width: 50%;
  width: 55%;
  height: 60%;
  z-index: 2;
  color: #ffffff;
}

.chapter-list {
  background-color: rgba(0, 0, 0, 0.5);
  width: 49%;
  margin-right: 40px;
  border-radius: 100px;
  border: 8px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  h2 {
    font-size: 30px;
  }
  ul {
    margin: 8px 0;
    img {
      width: 180px;
      transition-duration: 500ms;
    }
    img:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    .ch-lock:hover {
      cursor: url("data:image/svg+xml;utf-8, <svg xmlns = 'http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px'><text y='50%'>🔒</text></svg>"),
        auto;
    }
  }
  .ch:nth-child(3) {
    opacity: 50%;
  }

  .ch:nth-child(4) {
    opacity: 50%;
  }
}

.locked-list {
  background-color: rgba(0, 0, 0, 0.5);
  width: 49%;
  border-radius: 100px;
  border: 8px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    z-index: 1;
  }

  .opacity-class {
    opacity: 0.5;
  }
  .opacity-class:hover {
    opacity: 0.7;
  }
}

.locked-list:hover {
  cursor: url("data:image/svg+xml;utf-8, <svg xmlns = 'http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px'><text y='50%'>🔒</text></svg>"),
    auto;
}

.radio-img {
  position: absolute;
  width: 300px;
  bottom: 20px;
  z-index: 2;
  right: 15%;
}
