@import "./loading-page1";
@import "./loading-page2";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "aloja";
  src: url("../fonts/Aloja-Light.otf");
  src: local("Aloja-Light"), local("Aloja-Light"),
    url("../fonts/Aloja-Light.otf") format("opentype");
}

body {
  overflow-x: hidden;
  font-family: "aloja";
}

main {
  width: 100vw;
  height: 100vh;
}

.landing-page {
  background-image: url("../background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  nav {
    position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    // background-color: lightcoral;

    a {
      cursor: pointer;
      margin: 0 20px;
      border: 2.5px solid #ffffff;
      border-radius: 18px;
      padding: 5px 8px;
      // background-color: lawngreen;

      img {
        width: 30px;
      }
    }
    .mint-btn {
      text-decoration: none;
      color: #ffffff;
      padding: 5px 15px;
      font-size: 20px;
      letter-spacing: 3px;
      display: flex;
      justify-content: center;
    }
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: flex-end;
    // background-color: lawngreen;
    h1 {
      font-size: 5.5rem;
      color: transparent;
      -webkit-text-stroke: 1px #ffffff;
      // background-color: aquamarine;
      margin: 0;
    }

    h3 {
      font-size: 1.5rem;
      letter-spacing: 2px;
      // background-color: lightgray;
      position: relative;
      // left: 30px;
    }

    h3:first-of-type {
      align-items: flex-start;
      width: 100%;
      right: 40px;
      top: 27px;
    }
    h3:nth-of-type(2) {
      left: 30px;
      bottom: 15px;
    }
  }
}

.sticky-bag {
  // background-color: lightcoral;
  width: 120px;
  position: fixed;
  bottom: 70px;
  z-index: 5;
  // right: -30px;
  left: 86%;
}

.comic-strip {
  position: absolute;
  position: relative;
  img {
    width: 100%;
    object-fit: contain;
  }

  #first-point {
    cursor: pointer;
  }
  .newspaper {
    opacity: 0%;
    transition-duration: 0.25s;
    position: absolute;
    z-index: 2;
    width: 430px;
    top: 120px;
    right: 20px;
  }

  .mars {
    // visibility: hidden;
    opacity: 0%;
    position: absolute;
    z-index: 2;
    width: 170px;
    left: 35%;
    top: 33%;
    transition-duration: 0.25s;
    // transition-property: visible;
  }
  .show {
    opacity: 100%;
  }

  .footer {
    // background-color: lawngreen;
    position: absolute;
    bottom: 70px;
    z-index: 2;
    width: 100%;
    display: flex;
    // background-color: red;
    // flex-direction: column;
    align-items: center;
    // justify-content: space-evenly;
    // justify-content: space-between;
    justify-content: center;

    .faqs {
      // background-color: aqua;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .faq {
      width: 25%;
      background-color: #f8efcf;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 13px;
      margin: 10px 0;
      font-family: "Dosis", sans-serif;
      color: #905353;
      padding: 5px 10px;
      font-weight: 800;
      font-size: 20px;
      .faq-answer {
        text-align: center;
        height: 100%;
        font-weight: 400;
        transition-property: display;
        transition-duration: 0.25s;
        display: none;
      }
    }

    .line-2 {
      display: flex;
      width: 23%;
      // background-color: lawngreen;
      .faq-3,
      .faq-2 {
        background-color: #f8efcf;
        border-radius: 13px;
        width: 48%;
        margin: 0 5px;
        text-align: center;
        font-family: "Dosis", sans-serif;
        color: #905353;
        padding: 5px 10px;
        font-weight: 800;
        font-size: 20px;
        transition-duration: 0.1s;
      }

      .faq-2:hover {
        cursor: pointer;
        span {
          text-decoration: line-through;
        }
      }
    }

    .faq-1,
    .faq-4 {
      transition-property: height;
      transition-duration: 0.1s;
      height: 40px;
      // background-color: lightblue;
    }
    // HOVER EFFECTS

    .faq-3:hover {
      cursor: pointer;
    }
    .faq-1:hover,
    .faq-4:hover {
      cursor: pointer;
      height: 100px;
      justify-content: flex-start;
      .go-away-faq {
        display: none;
      }
      .faq-answer {
        display: flex;
        align-items: center;
      }
    }
    .faq-4:hover {
      cursor: pointer;
      height: 100px;
    }
  }
}

@keyframes avatar {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.team-section {
  // background-color: lightcoral;
  position: absolute;
  bottom: 70px;
  width: 100%;
  padding: 0 85px;
  display: none;
  justify-content: space-between;

  .team-member {
    // background-color: lightgreen;
    // margin: 0 10px;
  }
  .team-avatar {
    // width: 130px;
    transform: scale(0.75);
    position: relative;
    z-index: 2;
    // background-color: aqua;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    // height: 130px;
  }
  .team-left {
    display: flex;
    visibility: visible;
    // background-color: rgb(255, 184, 97);
    // padding-left: 50px;
  }

  .team-member-left:nth-child(1) {
    // background-color: lawngreen;
    opacity: 100%;
    animation-name: avatar;
    animation-delay: 0.1s;
    animation-duration: 0.25;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  .team-member-left:nth-child(2) {
    // background-color: lawngreen;
    opacity: 100%;
    animation-name: avatar;
    animation-delay: 0.2s;
    animation-duration: 0.25;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  .team-member-left:nth-child(3) {
    // background-color: lawngreen;
    opacity: 100%;
    animation-name: avatar;
    animation-delay: 0.3s;
    animation-duration: 0.25;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  .team-member-right:nth-child(1) {
    // background-color: lawngreen;
    opacity: 100%;
    animation-name: avatar;
    animation-delay: 0.4s;
    animation-duration: 0.25;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  .team-member-right:nth-child(2) {
    // background-color: lawngreen;
    opacity: 100%;
    animation-name: avatar;
    animation-delay: 0.5s;
    animation-duration: 0.25;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  .team-right {
    // background-color: cadetblue;
    display: flex;
    position: relative;
    right: 8%;
    // padding-left: 30%;
    padding-left: 0px;
    // flex-direction: column;
  }
  .team-member {
    // background-color: lightcoral;
    // margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
    .name {
      font-size: 12px;
    }
  }
}

.popup-show {
  display: none;
}

.map-popup {
  .map-img {
    width: 70%;
    position: fixed;
    top: 10%;
    left: 15%;
    z-index: 4;
  }
  .overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}

.map-popup:hover {
  cursor: url("data:image/svg+xml;utf-8, <svg xmlns = 'http://www.w3.org/2000/svg' width='70' height='70' viewport='0 0 100 100' style='fill:black;font-size:24px'><text y='50%'>🧭</text></svg>"),
    auto;
}

.twitter-img {
  position: relative;
  top: 3px;
}

.invisible {
  position: absolute;
  z-index: 2;
  width: 100px;
  // background-color: rgb(255, 19, 19);
  cursor: pointer;
  // visibility: hidden;
}

#first-point {
  height: 100px;
  top: 10%;
  right: 20%;
}

#second-point {
  height: 80px;
  top: 21%;
  left: 33%;
  // background-color: blueviolet;
}

#third-point {
  height: 70px;
  width: 50px;
  top: 38.5%;
  left: 36%;
  // background-color: lawngreen;
}
// TODO :

// Co-ordinates

// aspect ratio for main landing page
// z-index for lock (GIF)
// Hero text and spacing (chapter 1, spacking should be increased)
// Lock cursor in the 2nd box of 2nd landing page
// Make the lock white on hover
// Decrease the border radius
// ZOOM disable
// make the map- image
// make the faq's extrabold
// overlay for lock

// NEW TODO
// Merchant with window
// Copyright (preferably corner, left bottom)
// Change 1st and 2nd loading screen bg to the home.html
// lock hover effect, lock emoji cursor
// z-index of the lock  and add a hover effect
// Buy a domain
// Social media links
