* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "aloja";
  src: url("../fonts/Aloja-Light.otf");
  src: local("Aloja-Light"), local("Aloja-Light"),
    url("../fonts/Aloja-Light.otf") format("opentype");
}

body {
  overflow-x: hidden;
  font-family: "aloja";
}

main {
  width: 100vw;
  height: 100vh;
}

.landing-page {
  background-image: url("../background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  nav {
    position: absolute;
    top: 30px;
    // background-color: lawngreen;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;

    a {
      cursor: pointer;
      margin: 0 20px;
      border: 2.5px solid #ffffff;
      border-radius: 30px;
      padding: 5px;

      img {
        width: 30px;
        // margin: 10px 0;
        // background-color: aqua;
      }
    }
    .mint-btn {
      text-decoration: none;
      color: #ffffff;
      padding: 5px 15px;
    }
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: flex-end;
    h1 {
      font-size: 5rem;
      color: transparent;
      -webkit-text-stroke: 1px #ffffff;
    }
    h3:first-of-type {
      align-items: flex-start;
      width: 100%;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
}

.comic-strip {
  img {
    width: 100%;
    object-fit: contain;
  }

  #first-point {
    cursor: pointer;
  }
}
