* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "aloja";
  src: url("../fonts/Aloja-Light.otf");
  src: local("Aloja-Light"), local("Aloja-Light"),
    url("../fonts/Aloja-Light.otf") format("opentype");
}

body {
  overflow-x: hidden;
  font-family: "aloja";
}

main {
  width: 100vw;
  height: 100vh;
}

.landing-page {
  background-image: url("../background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  nav {
    position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;

    a {
      cursor: pointer;
      margin: 0 20px;
      border: 2.5px solid #ffffff;
      border-radius: 30px;
      padding: 5px;

      img {
        width: 30px;
      }
    }
    .mint-btn {
      text-decoration: none;
      color: #ffffff;
      padding: 5px 15px;
    }
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: flex-end;
    h1 {
      font-size: 5rem;
      color: transparent;
      -webkit-text-stroke: 1px #ffffff;
    }
    h3:first-of-type {
      align-items: flex-start;
      width: 100%;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
}

.sticky-bag {
  // background-color: lightcoral;
  width: 150px;
  position: sticky;
  bottom: 5px;
  // right: -30px;
  left: 86%;
}

.comic-strip {
  position: relative;
  img {
    width: 100%;
    object-fit: contain;
  }

  #first-point {
    cursor: pointer;
  }
  .newspaper {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 300px;
    top: 150px;
    right: 100px;
  }

  .mars {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 170px;
    left: 35%;
    top: 33%;
  }
  .show {
    visibility: visible;
  }

  .footer {
    // background-color: lawngreen;
    position: absolute;
    bottom: 70px;
    z-index: 2;
    width: 100%;
    display: flex;
    // flex-direction: column;
    align-items: center;
    // justify-content: space-evenly;
    // justify-content: space-between;
    justify-content: center;

    .faqs {
      // background-color: aqua;
      width: 30%;
    }
    .faq {
      width: 100%;
      background-color: #f8efcf;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 13px;
      margin: 10px 0;
      font-family: "Dosis", sans-serif;
      color: #905353;
      padding: 10px 20px;
      font-weight: 800;
      .faq-answer {
        height: 100%;
        font-weight: 400;
        display: none;
      }
    }

    .line-2 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .faq-3,
      .faq-2 {
        background-color: #f8efcf;
        border-radius: 13px;
        width: 48%;
        margin: 2px;
        text-align: center;
        font-family: "Dosis", sans-serif;
        color: #905353;
        padding: 10px 20px;
        font-weight: 800;
      }
    }

    // HOVER EFFECTS
    .faq-1:hover {
      cursor: pointer;
      height: 100px;
      justify-content: flex-start;
      .faq-answer {
        display: flex;
        align-items: center;
      }
    }
    .faq-4:hover {
      cursor: pointer;
      height: 100px;
    }
  }
}

.team-section {
  // background-color: lightcoral;
  position: absolute;
  bottom: 70px;
  width: 85%;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  .team-avatar {
    width: 130px;
    position: relative;
    z-index: 2;
  }
  .team-left {
    display: flex;
    // background-color: aqua;
    // width: 30%;
  }
  .team-right {
    // background-color: cadetblue;
    display: flex;
    // flex-direction: column;
  }
  .team-member {
    // background-color: lightcoral;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
    .name {
      font-size: 12px;
    }
  }
}
